<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<form th:action="@{/admin/addUser}" method="POST" th:object="${userDTO}">
    <label class="add-user-label">Имя
        <input type="text" name="name" id="name">
    </label>
    <label class="add-user-label">Фамилия
        <input type="text" name="surname" id="surname">
    </label>
    <label class="add-user-label">Логин
        <input type="text" name="login" id="login">
    </label>
    <label class="add-user-label">Пароль
        <input type="password" name="password" id="password">
    </label>
    <button type="submit" name="add-user-button" id="addUserButton">Добавить пользователя</button>
</form>
<div th:if="${message}" style="margin-top: 10px;" th:style="${success}? 'color: green;' : 'color: red;'">
    <p th:text="${message}"></p>
</div>
</body>
</html>