<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<h2>Список пользователей</h2>
<form th:action="@{/admin/allUsers}" method="GET">
<table class="table table-striped" th:if="${not #lists.isEmpty(users)}">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Логин</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.login}"></td>
    </tr>
    </tbody>
</table>
<p th:unless="${not #lists.isEmpty(users)}">Пользователей нет</p>
</form>
</body>
</html>