<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обмен вещами</title>
</head>
<body>
<!--<label class="auth-label">Логин-->
<!--    <input type="text" id="username">-->
<!--</label>-->
<!--<label class="auth-label">Пароль-->
<!--    <input type="password" id="password" placeholder="1234">-->
<!--</label>-->
<!--<button name="auth-button">Войти</button>-->
<a href="/admin/adminPage">Страница администратора</a>
<a href="/moder/moderPage">Страница модератора</a>
<a href="/user/userPage">Страница пользователя</a>
</body>
</html>